/* CSS HEX */
:root {
  --salmon: #ec8074ff;
  --cultured: #eff1f3ff;
  --dark-sea-green: #84b082ff;
  --raisin-black: #252627ff;
  --space-cadet: #2b3a67ff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito+Sans:wght@200;300;400;600;700&display=swap');
